
.homeMain {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeMain h1 {
    font-style: italic;
    color: var(--morado);
    font-weight: 600 ;
}

.destacadosHomeTitulares h3 {
    font-weight: 300;
    border: 2px solid var(--mostaza);
    padding: 5px 10px;
}

.destacadosHomeTitulares {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destacadosHomeLibros {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.bookCard {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    max-height: 450px;
    margin-top: 20px;
    transition: background 0.5s, color 0.5s;
}


.bookCard img {
    max-height: 250px;
}

.bookInfo {
    width: 250px;
    border: 3px solid var(--verde);
    padding: 15px;
    margin-top: 20px;
}

.bookInfo h4,
.bookCard h5 {
    font-weight: 300;
}

.bookCard h5 {
    font-style: italic;
    margin-top: 5px;
}

.bookCard:hover {
    font-weight: 500;
    color: var(--gris-oscuro);
    background: var(--verde);
}

.reactLink:active {
    color: white;
}