
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px;
}

.etiquetas {
    width: 100%;
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.etiquetas li {
    font-style: italic;
    padding: 5px 35px;
    border: 3px solid var(--verde);
}

.etiquetas li:hover {
    background-color: var(--morado);
    border: 3px solid var(--morado);
    color: var(--green-white);
}

.etiquetas li:active {
    background-color: var(--verde);
    border: 3px solid var(--verde);
}

.search {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
}

.searchInput {
    font-family: 'Roboto Serif', serif;
    font-style: italic;
    height: 35px;
    background-color: var(--verde);
    border: none;
    width: 100%;
    padding-left: 15px;
}

.search button {
    background-color: var(--green-white);
    border: 4px solid var(--morado);
    height: 35px;
    width: 120px;
    font-family: 'Roboto Serif', serif;
    font-style: italic;
    font-weight: 800;
    color: var(--morado);
    padding: 0px 10px 0px 5px;
}

.search button:hover {
    background-color: var(--morado);
    color: var(--green-white);
}

.search button:active {
    background-color: var(--mostaza);
    border: 4px solid var(--mostaza);
    color: var(--morado);
}

.search button i {
    color: var(--morado);
    padding-right: 10px;
}

.searchResult {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchResultBooks {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.searchErrorMessage {
    color: var(--coral);
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 80px;
    padding-top: 10px;
    height: 50px;
    width: 100%;
    text-align: center;
    
}

.editButton {
    font-family: 'Roboto Serif';
    background-color: var(--morado);
    border: none;
    padding: 5px;
    margin-top: 5px;
    
}

.editButton .reactLink {
    color: var(--green-white);
}

.editButton:hover {
    background-color: var(--coral);
}