.mainBox {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.pedidosBox {
    width: 75%;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.pedido {
    border: 4px solid var(--verde);
    width: 50%;
    padding: 10px 10px 0px 10px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
}

.carritoNav .fa-truck {
    font-size: 1.1em;
    padding: 5px;
}

.pedido p span {
    font-weight: 700;
}

.detallePedido {
    margin-top: 20px;
}

.detallePedido,
.checkPedido,
.changePedido,
.checkReserva {
    font-family: 'Roboto Serif';
    border: none;
    background-color: var(--verde);
    height: 30px;
    font-weight: 500;
    color: var(--morado);
    margin-bottom: 10px;
}

.checkReserva {
    padding: 10px;
}

.changePedido {
    background-color: var(--morado);
    color: var(--green-white);
    
}

.detallePedido:hover,
.checkPedido:hover,
.checkReserva:hover {
    background-color: var(--morado);
    color: var(--green-white);
}

.checkPedido i,
.changePedido i,
.checkReserva i {
    margin-left: 10px;
}

.changePedido:hover {
    background-color: var(--coral);
}

.mainBoxDetallePedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pedidoDetalleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--verde);
    padding: 15px;
    margin-bottom: 50px;
}

.detallesPedidoCliente {
    margin-bottom: 20px;
}

h4 {
    color: var(--morado);
    padding-bottom: 15px;
}

.detallesPedidoLibrosBox {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.detallesPedidoLibros {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 15px;
}

.detallesPedidoLibros img {
    width: 100px;
}

.revervaItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    width: 100%;
}