.mainBox {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.pedidosBox {
    width: 75%;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.pedido {
    border: 4px solid var(--verde);
    width: 50%;
    padding: 10px 10px 0px 10px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
}

.checkPedido {
    align-self: flex-end;
    position: relative;
    bottom: 15px;
    border: none;
    color: var(--verde);
}

.checkPedido i {
    font-size: 1.5em;
}
.checkPedido:hover {
    color: var(--morado)
}