:root {
  font-family: 'Roboto Serif', serif;
  --green-white: #dfedd9;
  --coral: #d9796f;
  --morado: #59519e;
  --verde: #b5ceb4;
  --mostaza: #d9c96f;
  --verde-oscuro: #386c52;
  --gris-oscuro: #403e4a;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--green-white);
  color: var(--gris-oscuro);
}

.reactLink {
  text-decoration: none;
}