:root {
  font-family: 'Roboto Serif', serif;
  --green-white: #f4f5fa;
  --coral: #c04e42;
  --morado: #59519e;
  --verde: #b2b7de;
  --mostaza: #e38f86;
  --verde-oscuro: #386c52;
  --gris-oscuro: #2c2942;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--green-white);
  color: var(--gris-oscuro);
}

.reactLink {
  text-decoration: none;
}